nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 70%;
  margin: auto;
  h1 {
   font-family: 'Coustard', serif;
   
    font-size: 1.5rem;
  }
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    border: 2px solid rgb(65, 65, 65);
    transition: all 0.3s ease;
    padding: 0.5rem;
    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    max-width: 100%;
    button {
      z-index: 10;
    }
  }
}
